<?xml version="1.0" encoding="utf-8"?>
<robot name="Turtle">
  <link name="Turtlebot3 Burguer">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.16666667163372" ixy="0" ixz="0" iyy="0.16666667163372" iyz="0" izz="0.16666667163372" />
    </inertial>
    <collision>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </collision>
  </link>
</robot>